{% extends "base.html" %}

{% block metadata %}
    <title>{{ article.title }}</title>
	<meta name="description" content="{% if article.description %}{{ article.description }}{% else %}{{ BIO }}{% endif %}">
	<meta property="og:description" content="{% if article.description %}{{ article.description }}{% else %}{{ BIO }}{% endif %}">
	<meta property="og:title" content="{{ article.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
{% endblock %}

{% block content %}
<div class="post">
    <!-- Ezoic - top_of_page - top_of_page -->
    <div id="ezoic-pub-ad-placeholder-106"> </div>
    <!-- End Ezoic - top_of_page - top_of_page -->
    <h1 class="post-title">{{ article.title }}</h1>
    <!-- Ezoic - under_page_title - under_page_title -->
    <div id="ezoic-pub-ad-placeholder-103"> </div>
    <!-- End Ezoic - under_page_title - under_page_title -->
    <span class="post-date">{{ article.locale_date }}</span>
    {{ article.content }}
    <!-- Ezoic - bottom_of_page - bottom_of_page -->
    <div id="ezoic-pub-ad-placeholder-104"> </div>
    <!-- End Ezoic - bottom_of_page - bottom_of_page -->
    {% include 'fragments/disqus.html' %}
</div>
{% endblock %}

