{% extends "base.html" %}

{% block metadata %}
    <title>{{ article.title }}</title>
	<meta name="description" content="{% if article.description %}{{ article.description }}{% else %}{{ BIO }}{% endif %}">
	<meta property="og:description" content="{% if article.description %}{{ article.description }}{% else %}{{ BIO }}{% endif %}">
	<meta property="og:title" content="{{ article.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
{% endblock %}

{% block content %}
<div class="post">
    <span class="post-date">
        {{ article.locale_date }}
        {% if article.locale_date != article.locale_modified -%}
        | Last updated on {{ article.locale_modified }}
        {% endif %}
    </span>
    {{ article.content }}
    <!-- Ezoic - bottom_of_page - bottom_of_page -->
    <div id="ezoic-pub-ad-placeholder-104"> </div>
    <!-- End Ezoic - bottom_of_page - bottom_of_page -->
    {% include 'fragments/disqus.html' %}
</div>
{% endblock %}

